
html,
body {
    background-color: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    color: #333;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 300;
}

main {
    align-self: center;
    background-color: #fefefe;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
	box-shadow: 10px 10px #2274a5;
    min-width: 350px;
    max-width: 450px;
    width: 40vw;
    padding: 2rem;
    
    
}

.form-buttons {
        display: flex;
        justify-content: flex-end;
        padding: 1em 0 0 0;
        
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;

    &:last-child {
        margin-bottom: 0;
    }

    .icon {
        align-self: center;
        fill: #2980b9;
        padding: .5em .5em;
    }
    label {
        align-self: center;
        flex-shrink: 0;
        flex-basis: 100%;
        width: 100%;
        @include breakpoint(sm) {
            flex-basis: 80px;
            width: 80px;
        }
    }
    > section {
        border: 1px solid #aaa;
        border-radius: $radius;
        display: flex;
        flex: 1;
        input {
            border: 0;
            border-left: 1px solid #ccc;
            flex-grow: 1;
            font-size: 1.1rem;
            font-weight: 300;
            padding: .35em .5em;
        }
    }

}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}



/* add a red asterisk after required labels 
 without having to include it in the markup */

.label--required:after {
    content: '*';
    color: red;
    margin-left: 5px;
}


/* button in links */
.btn-primary {
    border-color: #2274a5;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #2274a5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #649dc0; /* button hover links */
    color: #fff;
    background-color: #649dc0;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #a7676d;			
    background-color: #a7676d;
}

.btn-primary .badge {
    color: #a7676d;		
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #914249;		/* button*/
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #914249;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #a7676d;		/*button hover*/
    color: #fff;
    background-color: #a7676d;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #914249;
    background-color: #914249;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}